dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env


node_modules/
dist/
build-dist/
.yarn-cache/
/.idea/
*.log
.DS_Store
test-results
playwright-report

icons/
/test-results/
/playwright-report/
/playwright/.cache/
/svg
/components
